<h4>Login</h4>
<hr />
<%= form_tag sessions_path, :class => "nice" do %>
  <%= field_set_tag do %>
    <%= label_tag "Username" %>
    <%= text_field_tag :email, params[:email], :class => "input-text" %>

    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :class => "input-text" %>

  <%= submit_tag "Log in", :class => "blue button nice radius" %>
  <br /><br />
  <% end %>
<% end %>