<div class='large-4 columns'>
  <%= bi.name %>
</div>
<%= form_for AllocationPlanBudgetItem.where(allocation_plan_id: plan.id, budget_item_id: bi.id).first_or_create, url: create_allocation_plan_budget_item_path, html: {data: {remote: true}} do |f| %>
<div class='large-2 columns'>
    <%= f.text_field :amount_budgeted, placeholder: '0.00' %>
    <%= f.hidden_field :allocation_plan_id %>                          
    <%= f.hidden_field :budget_item_id %>                        
</div>
<div class='large-2 columns bi-remaining-<%= bi.id %> <%= color_for_number(bi.remaining_allocations) %>'>
  <%= number_to_currency(bi.remaining_allocations) %>
</div>   
<div class='large-4 columns'>                        
    <%= f.submit 'update', class: 'tiny radius yellow button' %>
</div>
<% end %>
