<%= form_for @allocation_plan, url: allocation_plan_path(year: @allocation_plan.budget.year, month: @allocation_plan.budget.month, id: @allocation_plan.id), html: {data: {abide:''}} do |f| %>
    <div class='row'>
      <div class='large-5 columns'>
        <%= f.label :start_date %>
        <%= f.text_field :start_date, placeholder: 'Start Date', class: 'get-date', required:'' %>
        <small class='error'>Required</small>
      </div>
      <div class='large-2 columns centered'><br>TO</div>
      <div class='large-5 columns'>
        <%= f.label :end_date %>
        <%= f.text_field :end_date, placeholder: 'End Date', class: 'get-date', required:'' %>
        <small class='error'>Required</small>
      </div>
    </div>
    <div class='row'>
      <div class='large-12 columns'>
        <%= f.label :income, 'Pay Period Income' %>
        <%= f.number_field :income, step: 'any', min: '0', placeholder: 'Income',required:'' %>
        <small class='error'>Required</small>
      </div>
    </div>
    <div class='row'>
      <div class='large-12 columns'>
        <%= f.submit 'Update Pay Period', class: 'small success button radius expand' %>
        <a onclick="$('a.close-reveal-modal').trigger('click');" class='alert small button radius expand'>Cancel</a>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
