<section>
  <div class='large-2 medium-2 hide-for-small-down columns category-list'>
    <div class="icon-bar vertical six-up label-right">
      <a class='item header text-center' href='#'>
        <label><i class='fi-calendar'></i> <%= "#{budget.pretty_date} #{budget.year}" %></label>
      </a>
      <span class='tooltip' style='display: none'>
        <p>
          <label for="month_change_budget_2i">Change Budget</label>
          <%= date_select :month, :change_budget, discard_day: true, start_year: 2013, end_year: Time.now.advance(years: 1).year, default: Date.new(budget.year.to_i, budget.month.to_i), order: [:month, :year] %>
          <%= submit_tag 'change', id: 'change-spending', class: 'expand button radius tiny yellow expand' %>
        </p>
      </span>
      <% budget.budget_categories.order(:id).each do |c| %>
        <%= link_to "#desktop#{c.name.gsub('/', '-')}", class: "item sidebar-#{c.name.downcase.gsub('/', '-')}" do %>
          <label><%= c.name %></label>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='large-10 medium-10 columns hide-for-small-down'>
    <div class='category-ajax'>
      <%= render partial: 'overview', locals: {vp: 'desktop'} %>
    </div>
  </div>
</section>

<div id="new-allocation-plan" class="reveal-modal tiny" data-reveal></div>
<div id="edit-allocation-plan" class="reveal-modal tiny" data-reveal></div>

<% content_for :ready do %>
  $('title').text('<%= "#{budget.pretty_date} #{budget.year}" %>'+' - Budgetal.com');

  $(window).scroll(function() {
    if (window.scrollY >= 122) {
      $('.fixer').addClass('plan-fixer');
    } else {
      $('.fixer').removeClass('plan-fixer');
    }
  });

  $(document).on('click', '.item.header', function(e) {
    e.preventDefault();
    $(this).next('.tooltip').fadeToggle('1');
  });

  $(document).on('click', '#change-spending', function(e) {
    var month, year;
    year = $(this).prev('select').val();
    month = $(this).prev().prev('select').val();
    return window.location = "/allocation-plans/" + year + "/" + month;
  });

  $(document).on('click', '.item.side-item', function(e) {
    var id, offset, top;
    e.preventDefault();
    id = $(this).attr("href");
    offset = $(".tabs-content .active " + id).offset();
    top = offset.top - 5;
    return $("html, body").animate({
      scrollTop: top
    }, 850);
  });
<% end %>

<div class='row'></div>