<div class="off-canvas-wrap hide-for-medium-up" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>
      <section class="right tab-bar-section">
        <h1 class="title"><%= Date::MONTHNAMES[@budget.month.to_i].upcase %> <%= @budget.year %></h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class='off-canvas-list'>
        <% @budget.budget_categories.order(:id).each do |c| %>
          <li>
          <%= link_to "#mobile#{c.name.gsub('/', '-')}", class: "item sidebar-#{c.name.gsub('/', '-')}" do %>
            <%= c.name %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </aside>
    <section class='main-section'>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='plan-ajax'>
            <%= render partial: 'overview', locals: {vp: 'mobile'} %>
          </div>
        </div>
      </div>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>

<section>
  <div class='large-2 medium-2 hide-for-small-down columns category-list'>
    <div class="icon-bar vertical six-up label-right">
      <a class='item header text-center' href='#'>
        <label><i class='fi-calendar'></i> <%= Date::MONTHNAMES[@budget.month.to_i].upcase %> <%= @budget.year %></label>
      </a>
      <span class='tooltip'>
        <p>
          <label for="month_change_budget_2i">Change Budget</label>
          <%= date_select :month, :change_budget, discard_day: true, start_year: 2013, end_year: Time.now.advance(years: 1).year, default: Date.new(@budget.year.to_i, @budget.month.to_i), order: [:month, :year] %>
          <%= submit_tag 'change', id: 'change-spending', class: 'expand button radius tiny yellow expand' %>
        </p>
      </span>
      <% @budget.budget_categories.order(:id).each do |c| %>
        <%= link_to "#desktop#{c.name.gsub('/', '-')}", class: "item sidebar-#{c.name.downcase.gsub('/', '-')}" do %>
          <label><%= c.name %></label>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='large-10 medium-10 columns hide-for-small-down'>
    <div class='category-ajax'>
      <%= render partial: 'overview', locals: {vp: 'desktop'} %>
    </div>
  </div>
</section>

<div id="new-allocation-plan" class="reveal-modal tiny" data-reveal></div>
<div id="edit-allocation-plan" class="reveal-modal tiny" data-reveal></div>

<% content_for :ready do %>
  $('title').text('<%= page_title(params[:month]) %> <%= params[:year] %>'+' - Budgetal.com');

  $(window).scroll(function() {
    if (window.scrollY >= 122) {
      $('.fixer').addClass('plan-fixer');
    } else {
      $('.fixer').removeClass('plan-fixer');
    }
  });
<% end %>
