<% content_for :styles do %>
  #greeting {
    margin-top: 70px;
    color: #64ad68;
    margin-top: 50px;
    text-align: center;
  }  
  #greeting h2 {    
    text-align: center;
    color: #6699FF;
  }
<% end %>

<h2 class='blue'><%= @date %></h2>
<h3 class="subheader">Here's how you did</h3>
<hr />

<% if @budget %>
  <div id="container"></div>
  <% content_for :ready do %>
    $(function () {
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Percentage Spent, <%= @date %>'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Percentage Spent',
                data: [                    
                <% @budget.budget_categories.each do |c| %>
                  ["<%= c.name %>", <%= (c.total_spent/@budget.monthly_income).round(2) * 100 %>]<%= ',' unless c == @budget.budget_categories.last %>
                <% end %>
                ]
            }]
        });
    });
    <% end %>
<% else %>
 
  <div id="greeting" class="animated ">
    <h2>Uh-oh!</h2>
    <p>It looks like you don't have a budget for this month</p>
  </div>

<% end %>
