<div class='row collapse'>
  <div class='large-12 columns header-row'>
    <h3>Admin Panel</h3>
  </div>
  <div class="small-12 large-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none' data-equalizer-watch>
        <table style='width: 100%; border-collapse: collapse;'>
          <thead>
            <tr>
              <th>Name</th>
              <th>User Email</th>
              <th>Last Sign in</th>
              <th>IP</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
          <% users.each do |u| %>
            <tr>
              <td><%= u.first_name %>, <b><%= u.last_name %></b></td>
              <td><%= u.email %></td>
              <td><%= u.current_sign_in_at.blank? ? '--:--' : u.current_sign_in_at.strftime("%m/%d/%Y %l:%M %p") %></td>
              <td><%= u.current_sign_in_ip %></td>
              <td><%= u.sign_in_count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>