<div class='row'>
  <div class="large-1 columns centered">
    <a href='javascript:void(0)' class='show-expenses'>+</a>
  </div>
  <div class="large-4 columns">                    
    <%= f.text_field :name, placeholder: 'Name', required:'' %>
  </div>
  <div class="large-2 columns">
    <%= number_to_currency(f.object.budget_item_expenses.sum :amount) %>
  </div>
  <div class="large-2 columns">
    <%= f.number_field :amount_budgeted, step: 'any', min: '0.00', placeholder: "0.00", required:'' %>
  </div>                  
  <div class="large-1 columns">
    <% if (f.object.amount_budgeted || 0)-f.object.budget_item_expenses.sum(:amount) > 0 %>
      <span class="green"><%= number_to_currency f.object.amount_budgeted-f.object.budget_item_expenses.sum(:amount) %></span>
    <% elsif (f.object.amount_budgeted || 0)-f.object.budget_item_expenses.sum(:amount) < 0 %>
      <span class="red">$<%= f.object.amount_budgeted-f.object.budget_item_expenses.sum(:amount) %></span>
    <% else %>
      <span class="blue"><%= number_to_currency (f.object.amount_budgeted || 0)-f.object.budget_item_expenses.sum(:amount) %></span>
    <% end %>
  </div>
  <div class='large-2 columns centered'><%= f.link_to_remove '×', class: 'tiny alert round button' %></div>
</div>

<div class="expense-list expenses_<%= f.object.id %> hide">  
  <%= f.fields_for :budget_item_expenses %>
  <br />
  <%= f.link_to_add "Add an expense", :budget_item_expenses, class: 'tiny button radius success', style: 'margin-left: 20px' %>
  <%= f.submit 'save', class: 'tiny radius button blue' %>
  <hr />
</div>
