<div>  
  <h4>Cash Flow Plan for <span class='month-name'><%= Date.new(params[:year].to_i, params[:month].to_i).strftime("%B %Y") %></span><br><small>Cash flows in and out each month. Make sure you tell it where to go!</small></h4>
</div>

<br />

<%= form_for @budget, html: {data: {remote: true}} do |f| %>
<div class="row">  
    <div class="large-4 columns">
      <div class="row">
        <div class="large-6 columns" style="text-align: right;vertical-align: middle;line-height: 2.3;"><b>Monthly Income:</b></div>
        <div class='large-6 columns'><%= f.number_field :monthly_income, step: 'any', min: '0', class: 'green', required:'', autofocus: true %></div>
      </div>
      <div class="row" style="border-bottom: 1px solid #CCC;">
        <div class="large-6 columns" style="text-align: right;vertical-align: middle;line-height: 2.3;"><b>Amount Spent:</b></div>
        <div id='amount_spent' class='large-6 columns red' style="padding: 8px; font-size: 15px;"><%= number_to_currency(@budget.total_expenses) %></div>
      </div>
      <div class="row">
        <div class="large-6 columns" style="text-align: right;vertical-align: middle;line-height: 2.3;"><b><%= "<span style='color:red' title='This is starting to pattern congress!'>Uh-Oh!</span>".html_safe if (@budget.monthly_income-@budget.total_expenses < 0) %></b></div>
        <div id='budget_difference' class='large-6 columns' style="padding: 8px; font-size: 15px"><%= number_to_currency @budget.difference %></div>
      </div>
    </div>
    <div id="budget-remainder" class="large-8 columns">
      <div class="progress radius blue-meter"><span class="meter" style="width: <%= @budget.percent_used %>%"></span></div>
      <h5><%= remaining_to_budget %></h5>
      <% content_for :ready do %>       
        $(".budget-remainder .meter").animate({"width": "<%= @budget.percent_used %>%"}, "fast");
        <% if @budget.amount_remaining < 0 %>
          $('.budget-remainder .meter').css('background', 'red')      
        <% end %>
      <% end %>
    </div>
</div>

<% end %>

<br />
