<div class='row collapse'>
  <div class='large-12 medium-12 columns header-row'>
    <h3><%= c.name %> <%= link_to_i 'download',
                                    '',
                                    #category_copy_path(c),
                                    '#',
                                    class: 'right black-color copy-category',
                                    title: 'Import items from previous budget' %></h3>
  </div>
  <div class="small-12 large-12 medium-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none' id='category-<%= c.id %>'>

        <div class="row type-labels">
          <div class="large-2 medium-2 large-offset-5 medium-offset-5 columns">
            Spent
          </div>
          <div class="large-2 medium-2 columns">
            Budgeted
          </div>
          <div class="large-3 medium-3 columns">
            Difference
          </div>
        </div>
        <br />
        <div class="row new-budget-item">
          <% c.budget_items.includes(:budget_item_expenses).each do |bi| %>
          <div class='budget-item-form-<%= bi.id %> draggable-budget-item'>
            <%= render partial: 'budget_item', locals: {bi: bi} %>
          </div>
          <% end %>
          <%= link_to "Add a budget item",
                      new_budget_item_path(budget_category_id: c.id),
                      class: 'add-item-link tiny button radius success',
                      data: {remote: true}  %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class='row collapse' data-equalizer>
  <div class='large-5 medium-5 columns'>
    <div class='header-row'>
      <h3>Category Overview</h3>
    </div>
    <div class='category-overview'>
      <%= render partial: 'category_overview', locals: {c: c} %>
    </div>
  </div>

  <div class='large-6 medium-6 large-offset-1 columns overview-partial'>
    <%= render partial: 'overviews', locals: {b: c.budget} %>
  </div>
</div>

<div class='reveal-modal tiny' id='copy-modal' data-reveal>
  <h2 class='text-center'>Import</h2>
  <hr />
  <p>Do you want to import budget items from your previous month's <%= c.name %> category?</p>
  <div>
    <%= link_to 'Import',
                category_copy_path(c),
                class: 'button radius small expand',
                data: {remote: true, disable_with: 'Importing...'} %>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
