<div class='row collapse'>
  <div class='large-12 medium-12 columns header-row'>
    <h3><%= c.name %> <%= link_to_i 'download',
                                    '',
                                    category_copy_path(c),
                                    class: 'right black-color',
                                    title: 'Import items from previous budget',
                                    data: {remote: true, confirm: 'Are you sure?'} %></h3>
  </div>
  <div class="small-12 large-12 medium-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none' id='category-<%= c.id %>'>

        <div class="row type-labels">
          <div class="large-2 medium-2 large-offset-5 medium-offset-5 columns">
            Spent
          </div>
          <div class="large-2 medium-2 columns">
            Budgeted
          </div>
          <div class="large-3 medium-3 columns">
            Difference
          </div>
        </div>
        <br />
        <div class="row new-budget-item">
          <% c.budget_items.each do |bi| %>
          <div class='budget-item-form-<%= bi.id %>'>
            <%= render partial: 'budget_item', locals: {bi: bi} %>
          </div>
          <% end %>
          <%= link_to "Add a budget item",
                      new_budget_item_path(budget_category_id: c.id),
                      class: 'add-item-link tiny button radius success',
                      data: {remote: true}  %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class='row collapse' data-equalizer>
  <div class='large-5 medium-5 columns'>
    <div class='header-row'>
      <h3>Category Overview</h3>
    </div>
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none' data-equalizer-watch>
        <div id="<%= c.name.gsub('/', '-') %>" class="row">
          <div class="large-12 medium-12 columns">
            <span class='spent' style='color: green'>Spent: <%= number_to_currency c.total_spent %></span><span style='color: #69F' class='right remaining'>Remaining: <%= number_to_currency c.budget_remaining %></span>
            <div class="progress radius"><span id='<%= c.id %>' class="meter" style="background: #69F; width: <%= c.percent_used %>%;"></span></div>
            <% content_for :ready do %>
              <% if c.budget_remaining < 0 %>
                $('#<%= c.id %>').css('background', 'red')
                $('#<%= c.id %>').parent().prev('.right').css('color', 'red')
              <% end %>
            <% end %>
          </div>
        </div>
        <hr />
        <h6>
          You have budgeted <%= number_to_currency c.total_budgeted %> (<%= c.percent_of_budget %>%) towards this category, we recommend you only budget <%= c.percentage %>.
        </h6>
        <%= render template: 'monthly_statistics/chart', locals: {percent_used: c.percent_used, selector: 'category-donut'} %>
      </li>
    </ul>
  </div>

  <div class='large-6 medium-6 large-offset-1 columns'>
    <%= render partial: 'overviews', locals: {b: c.budget} %>
  </div>
</div>
