<% title("#{Date::MONTHNAMES[@budget.month.to_i]} #{@budget.year}") %>

<div class="off-canvas-wrap hide-for-medium-up" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>
      <section class="right tab-bar-section">
        <h1 class="title"><%= "#{Date::MONTHNAMES[@budget.month.to_i].upcase} #{@budget.year}" %></h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class='off-canvas-list'>
        <% @budget.budget_categories.order(:id).each do |c| %>
          <li>
          <%= link_to category_ajax_path(year: @budget.year, month: @budget.month, id: c.id), class: 'item', remote: true do %>
            <%= image_tag "#{c.name}.png", class: 'mobile-icon' %>
            <%= c.name %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </aside>
    <section class='main-section'>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='category-ajax'>
            <%= render partial: 'show', locals: {c: @budget.budget_categories.includes(:budget_items).first} %>
          </div>
        </div>
      </div>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>

<section>
<div style='padding-left: 0' class='large-2 medium-2 hide-for-small-down columns'>
  <div style='width: 100%' class="icon-bar vertical six-up label-right">
    <a class='item header text-center' href='#'>
      <label><i class='fi-calendar'></i> <%= Date::MONTHNAMES[@budget.month.to_i].upcase %> <%= @budget.year %></label>
    </a>
    <span class='tooltip'>
      <p>
        <label for="month_change_budget_2i">Change Budget</label>
        <%= date_select :month, :change_budget, discard_day: true, start_year: 2013, end_year: Time.now.advance(years: 1).year, default: Date.new(@budget.year.to_i, @budget.month.to_i), order: [:month, :year] %>
        <%= submit_tag 'change', id: 'change-budget', class: 'expand button radius tiny yellow expand' %>
      </p>
    </span>
    <% @budget.budget_categories.order(:id).each do |c| %>
      <%= link_to category_ajax_path(year: @budget.year, month: @budget.month, id: c.id), class: "item droppable-category #{'active' if c == @budget.budget_categories.first}", remote: true do %>
        <%= image_tag "#{c.name}.png" %>
        <label><%= c.name %></label>
      <% end %>
    <% end %>
  </div>
</div>
<div class='large-10 medium-10 columns hide-for-small-down'>
  <div class='category-ajax'>
    <%= render partial: 'show', locals: {c: @budget.budget_categories.includes(:budget_items).first} %>
  </div>
</div>
</section>

<%= form_tag move_item_path, id: 'move-item-form', 'data-remote' => true do %>
  <%= hidden_field_tag :move_category_id %>
  <%= hidden_field_tag :move_item_id %>
<% end %>
