<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" title="Budgetal"><%= image_tag "logo.png", style: 'width: 200px; margin-top: -8px;' %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
  <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
      <li class="has-dropdown not-click"><a href="javascript:void(0)" title='this is you!'>Hello, <%= current_user.first_name %>!</a>
        <ul class="dropdown shadow nav-links">
          <li><%= link_to_i 'dollar', "&nbsp;&nbsp;Cash Flow Plans", my_budgets_path(year: Date.today.year, month: Date.today.month), title: 'Cash Flow Plans' %></li>
          <li><%= link_to_i 'clipboard-pencil', "Allocated Spending Plans", my_allocation_plans_path(year: Date.today.year, month: Date.today.month), title: 'Allocated Spending Plans' %></li>
          <li><%= link_to_i 'calendar', "Annual Budgets", annual_budgets_path(year: Date.today.year), title: 'Annual Budgets' %></li>
          <li><%= link_to_i 'graph-pie', "Statistics (for geeks)", monthly_statistic_path(year: Date.today.year, month: Date.today.month), title: '(for geeks)' %></li>
          <li><%= link_to_i 'widget', "My Account", edit_user_registration_path, title: 'My Account' %></li>
          <% if current_user.admin? %>
          <li><%= link_to_i 'lock', "Admin Panel", admin_path, title: 'Admin' %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to('Sign out', destroy_user_session_path, method: :delete, title: 'Sign out') %></li>
      <% else %>
      <li><%= link_to 'Sign in / Sign up', '#', data: {reveal_id: "signInUp"}, title: "Sign In" %></li>
      <% end %>
    </ul>
  </section>
</nav><!--#navmain.hide-for-small-->
