<% bi.budget_item_expenses.order(:date).each do |bie| %>
  <div class="row expense-item">
    <div class="one columns"><%= bie.date.strftime("%m/%d") %></div>
    <div class="five columns">
      <%= bie.name %>
    </div>
    <div class="three columns">
      <%= number_to_currency bie.amount %>
    </div>
    <div class="three columns">
      <%= link_to 'x', budget_item_expense_path(bie), method: :delete, class: 'delete-bi', data: {remote: true, confirm: 'Are you sure?'} %>
    </div>  
  </div>
<% end %>

  <div class="row hide new-expense" style="padding-top: 15px;">
    <%= form_for BudgetItemExpense.new, html: {data: {remote: true}} do |f| %>
    <div class="two columns">
      <%= f.text_field :date, id: "bi-#{bi.id}", type: 'date', placeholder: Date.today.strftime("%Y-%m-%d"), class: 'get-date', required:'' %>
    </div>
    <div class="four columns">
      <%= f.hidden_field :budget_item_id, value: bi.id %>
      <%= f.text_field :name, placeholder: 'Name', required:'' %>
    </div>
    <div class="three columns">
      <%= f.number_field :amount, step: 'any', min: '0', placeholder: "0.00", required:'' %>
    </div>
    <div class="three columns">                        
      <%= f.submit "save", class: 'tiny button' %>
      <%= link_to "cancel", 'javascript:void(0)', class: 'tiny cancel alert button add-budget-expense-cancel' %>
    </div>
    <% end %>
  </div>

<div class="row">
  <br />
  <div class="large-10 large-offset-2 columns"><%= link_to "Add an expense", 'javascript:void(0)', class: 'add-expense-link small button' %></div>
</div>