<div class="row">
  <% @budget.budget_categories.order(:id).each do |c| %>
    <div class="large-11 columns">
      <ul class="main-budget-categories">
        <li id='category-<%= c.id %>'>
          <div id="<%= c.name.gsub('/', '-') %>" class="row">      
            <div class="large-1 columns centered"><%= image_tag "#{c.name}.png" %></div>
            <div class="large-5 columns">
              <h5><%= c.name %> </h5>
            </div>
            <div class="large-6 columns">
              <span class='spent' style='color: green'>Spent: <%= number_to_currency c.total_spent %></span><span style='color: #69F' class='right remaining'>Remaining: <%= number_to_currency c.budget_remaining %></span>
              <div class="progress radius"><span id='<%= c.id %>' class="meter" style="background: #69F; width: <%= c.percent_used %>%;"></span></div>
              <% content_for :ready do %>                    
                <% if c.budget_remaining < 0 %>
                  $('#<%= c.id %>').css('background', 'red')      
                  $('#<%= c.id %>').parent().prev('.right').css('color', 'red')
                <% end %>
              <% end %>
            </div>                  
          </div>
          <hr />
          <div class="row type-labels">                
            <div class="large-2 large-offset-5 columns">
              Spent
            </div>
            <div class="large-2 columns">
              Budgeted
            </div>
            <div class="large-3 columns">
              Difference
            </div>              
          </div>
          <br />                
          <div class="row new-budget-item">
            <%= render partial: 'budget_item', locals: {c: c} %>               
          </div>
        </li>
      </ul>
    </div>
    <div class="large-1 columns">          
      <div class="panel">
        <h6 class='p-budgeted'>
          <%= c.percent_of_budget %>%
        </h6>
        <h6 class='p-recommended'>
          <%= c.percentage %>
        </h6>
      </div>
    </div>
  <% end %>      
</div>

<script>
  window.history.pushState({"html": document.getElementById('month-view').innerHTML,"pageTitle":document.title},"", '/my-budgets/<%= params[:year] %>/<%= params[:month] %>');
</script>
