<div class="row">
      <% @budget.budget_categories.order(:id).each do |c| %>
        <div class="large-11 columns">
          <ul class="accordion">
            <li class="active">
              <div id="<%= c.name.gsub('/', '-') %>" class="title row">      
                <div class="large-1 columns left"><%= image_tag "#{c.name}.png" %></div>
                <div class="large-5 columns left">
                  <h5><%= c.name %> </h5>
                </div>
                <div class="large-6 columns">
                  <span style='color: green'>Spent: <%= number_to_currency c.total_spent %></span><span style='color: #69F' class='right'>Remaining: <%= number_to_currency c.budget_remaining %></span>
                  <div class="progress round"><span id='<%= c.id %>' class="meter" style="background: #69F; width: <%= c.percent_used %>%;"></span></div>
                  <% content_for :ready do %>                    
                    <% if c.budget_remaining < 0 %>
                      $('#<%= c.id %>').css('background', 'red')      
                      $('#<%= c.id %>').parent().prev('.right').css('color', 'red')
                    <% end %>
                  <% end %>
                </div>                  
              </div>
              <div class="content">
                <div class="row">
                  <hr />
                  <div class='large-6 columns'>&nbsp;</div>
                  <div class="large-2 columns">
                    Spent
                  </div>
                  <div class="large-2 columns">
                    Budgeted
                  </div>
                  <div class="large-2 columns">
                    Difference
                  </div>              
                </div>              
                <br />
                <% c.budget_items.order(:id).each do |bi| %>
                  <div class="row">
                    <%= form_for bi, html: {data: {remote: true}} do |f| %>
                    <div class="large-1 columns">
                      <span class="bi-nam">
                        <%= link_to '+', 'javascript:void(0)', class: 'show-expenses' %><%= is_envelope? bi %>
                      </span>

                      <span class="bi-name-input hide">
                        <label><%= f.check_box :envelope, style: 'float: left;' %><i class='general foundicon-mail blue'></i></label>
                      </span>
                    </div>
                    <div class="large-5 columns">
                      <span class="bi-name"><%= bi.name %></span>
                      <span class="bi-name-input hide">                        
                        <%= f.text_field :name, required:'' %>
                      </span>
                    </div>
                    <div class="large-2 columns budget-spent-<%= bi.id %>">
                      <%= number_to_currency bi.budget_item_expenses.sum :amount %>
                    </div>
                    <div class="large-2 columns">
                      <div class="row">
                        <div class="large-8 columns">
                            <span class="bi-name blue"><%= number_to_currency bi.amount_budgeted %></span>                            
                            <span class="bi-name-input hide"><%= f.number_field :amount_budgeted, step: 'any', min: '0', placeholder: "0.00", required:'' %></span>
                            <%= f.submit "save", class: 'tiny button' %>
                            <%= link_to "cancel", 'javascript:void(0)', class: 'tiny cancel alert button' %>
                        </div>
                        <div class="large-4 columns">
                          <%= link_to 'x', budget_item_path(bi), method: :delete, class: 'delete-bi', data: {remote: true, confirm: 'Are you sure? This will delete all expenses too!'} %>
                        </div>
                      </div>
                    </div>
                    <div class="large-2 columns budget-difference-<%= bi.id %>">
                      <%= render partial: 'budget_difference', locals: {bi: bi} %>
                    </div>
                    <% end %>
                  </div>
                  <div class="ajax-container expenses_<%= bi.id %> hide">
                    <%= render partial: 'budget_item_expenses', locals: {bi: bi} %>
                  </div>
                <% end %>
                <div class="row hide new-budget-item">
                <%= form_for BudgetItem.new, html: {data: {remote: true}} do |f| %>
                  <div class="large-1 columns"><span class="bi-name-input"><label><%= f.check_box :envelope, style: 'float: left;' %><i class='general foundicon-mail blue'></i></label></span></div>
                  <div class="large-5 columns">
                    <%= f.hidden_field :budget_category_id, value: c.id %>
                    <%= f.text_field :name, placeholder: 'Name', required:'' %>
                  </div>
                  <div class="large-2 columns">
                    $0.00
                  </div>
                  <div class="large-2 columns">
                    <div class="row">
                      <div class="large-8 columns">
                          <%= f.number_field :amount_budgeted, step: 'any', min: '0', placeholder: "0.00", required:'' %>
                          <%= f.submit "save", class: 'tiny button' %>
                          <%= link_to "cancel", 'javascript:void(0)', class: 'tiny cancel alert button add-budget-cancel' %>
                      </div>                      
                    </div>
                  </div>
                  <div class="large-2 columns"></div>
                <% end %>
                </div>
                <div class="row">
                  <div class="large-10 large-offset-2 columns"><%= link_to "Add a budget item", 'javascript:void(0)', class: 'add-budget-link small button shadow' %></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="large-1 columns">
          <br />
          <br />
          <br />
          <div class="panel">
            <h6 class='p-budgeted'>
              <%= c.budget.monthly_income.to_f > 0.0 ? (c.budget_items.sum(:amount_budgeted).to_f / c.budget.monthly_income.to_f * 100).round : "0" %>%
            </h6>
            <h6 class='p-recommended'>
              <%= c.percentage %>
            </h6>
          </div>
        </div>
      <% end %>      
    </div>

    <script>
      window.history.pushState({"html": document.getElementById('month-view').innerHTML,"pageTitle":document.title},"", '/my-budgets/<%= params[:year] %>/<%= params[:month] %>');
    </script>