<br />
<h3 style="text-align: center"><%= @date %> 2013</h3>

<%= form_for @budget, html: {data: {remote: true}} do |f| %>
<div class="row">
  <div class="twelve columns">
      <div class="two columns" style="text-align: right;vertical-align: middle;line-height: 2.3;"><b><%= f.label :monthly_income, "Monthly Income: $" %></b></div>
      <div class='two columns'><%= f.text_field :monthly_income, style: 'width: 100px;display:block' %></div>
      <div id="budget-remainder" class="eight columns">
        <div class="progress"><span class="meter" style=""></span></div>
        <h5><%= number_to_currency @budget_remaining %> Remaining to budget</h5>
        <script>        
        $(".meter").animate(
            {"width": "<%= @percentage_used %>%"},
            "fast");
            <% if @budget_remaining < 0 %>
              $('.meter').css('background', 'red !important')              
            <% end %>
        </script>
      </div>
  </div>
</div>

<% end %>

<br />