 <div id="signInUp" class="reveal-modal" style="width: 90%; margin: 0 -45%;">
  <h3 class="blue">Welcome to Intense-Money.com</h3>
  <p class="lead">Sign in or create an account.</p>
  <hr />
  <div class='row'>
    <div class='five columns'>
      <%= form_tag sessions_path, :class => "nice" do %>
        <%= field_set_tag do %>
          <h4>Sign in</h4>
          <%= label_tag "Email" %>
          <%= email_field_tag :email, params[:email], :class => "input-text", required:'' %>

          <%= label_tag :password %>
          <%= password_field_tag :password, nil, :class => "input-text", required:'' %>
          <%= link_to "Reset Password", new_password_reset_path %>
          <br />
          <br />
        <%= submit_tag "Sign in", :class => "button large full-width" %>
        <br /><br />
        <% end %>
      <% end %>
    </div>  
    <div class='two columns'></div>
    <div class='five columns'>
      <%= form_for @user, :class => "nice" do |f| %>
        <%= field_set_tag do %>
        <h4>Sign up</h4>
          <%= f.label :email %>
          <%= f.email_field :email, :class => "input-text", required: '' %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "input-text", required:'' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "input-text", required:'' %>

        <%= f.submit "Sign me up", :class => "button large full-width" %>
        <br /><br />
        <% end %>
      <% end %>
    </div>  
  </div>  
  <a class="close-reveal-modal">&#215;</a>
</div>