 <div id="signInUp" class="reveal-modal" style="width: 90%; margin: 0 -45%;">
  <h3 class="blue">Welcome to financial peace!</h3>
  <p class="lead">Sign in or create an account.</p>
  <hr />
  <div class='row'>
    <div class='five columns'>
      <%= form_tag sessions_path, :class => "nice" do %>
        <%= field_set_tag do %>
          <h4>Sign in</h4>
          <%= label_tag "Email" %>
          <%= text_field_tag :email, params[:email], :class => "input-text required" %>

          <%= label_tag :password %>
          <%= password_field_tag :password, nil, :class => "input-text required" %>
        <%= submit_tag "Sign in", :class => "blue button nice radius large full-width" %>
        <br /><br />
        <% end %>
      <% end %>
    </div>  
    <div class='two columns'></div>
    <div class='five columns'>
      <%= form_for @user, :class => "nice" do |f| %>
        <%= field_set_tag do %>
        <h4>Sign up</h4>
          <%= f.label :email %>
          <%= f.text_field :email, :class => "input-text required" %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "input-text required" %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "input-text required" %>

        <%= f.submit "Sign me up", :class => "blue button large full-width success nice radius" %>
        <br /><br />
        <% end %>
      <% end %>
    </div>  
  </div>  
  <a class="close-reveal-modal">&#215;</a>
</div>