<% cache do %>
<div class='row'>
  <div class='large-8 medium-8 columns'>  
      <div class=''><%= image_tag 'showcase-sm.png' %></div>
  </div>
  <div class='large-4 medium-4 columns' style='padding-top: 13%'>  
    <h1>Budgetal.com</h1>
    <p>Take control of your life now and prepare for your future. Get started today with our awesome, easy-to-use budgeting software. All for free!</p>
  </div>
</div>
<section class='start-today'>
  <div class="row collapse">
    <div class="large-8 columns text-center">
      <h4>Start planning a budget and take control!</h4>
    </div>    
    <div class="large-4 columns">
      <% if current_user %>
        <%= link_to "Cash Flow Plans", my_budgets_path(year: Date.today.year, month: Date.today.month), class: 'button radius secondary expand', title: 'Cash Flow Plans' %>
      <% else %>
        <%= link_to 'Join Now', new_user_session_url, data: {reveal_id: "signInUp", reveal_ajax: true}, class: 'button radius secondary expand', title: "Join Now" %>      
      <% end %>
    </div>
  </div>
</section>

<section id="main-content">
  <div class="row centered-text">
    <div class="large-12 columns">
      <br />
      <br />
      <h2 class='text-center'>Budgetal gives You tools.</h2>
      <h4 class="subheader text-center">You change your life.</h4>
      <br />
      <br />
    </div>
  </div>
  <div class="row centered-text">
    <div class="medium-4 large-4 columns">
      <div class='text-center'>
        <%= image_tag 'Saving.png' %>
        <h4>Plan for Saving</h4>
      </div>
      <p>Start saving.<br>
        Saving money will help you plan for expenses,
        chase away emergencies, and begin building wealth.
        Stop living pay check to pay check, and take control.
      </p>
    </div>
    <div class="medium-4 large-4 columns">
      <div class='text-center'>
        <%= image_tag 'Charity.png' %>
        <h4>Give to Others</h4>
      </div>
      <p>Become generous.<br>
        Saving and producing wealth for the sake of itself
        can lead to a selfish and self-centered life.
        While you're building wealth,
        don't stop being generous, give even more.
      </p>
    </div>
    <div class="medium-4 large-4 columns">
      <div class='text-center'>
        <%= image_tag 'Debts.png' %>
        <h4>Embrace Freedom</h4>
      </div>
      <p>Get out of debt.<br>
        The fastest way to build wealth is to be debt free.
        Having no debts means you have no payments. No
        payments means you have money. Money enables you
        give and build wealth.
      </p>
    </div>
  </div>
</section>
<% end %>