<% cache do %>
   <div class='row'>
    <h2 class="blue-color">Welcome to Budgetal.com</h2>
    <p class="lead">Sign in or create an account.</p>
    <hr />
    <div class='large-5 columns'>
      <%= form_tag sessions_path, :class => "nice" do %>
        
          <h3 class='blue-color'>Sign in</h3>
          <%= label_tag "Email" %>
          <%= email_field_tag :email, params[:email], :class => "input-text", required:'' %>

          <%= label_tag :password %>
          <%= password_field_tag :password, nil, :class => "input-text", required:'' %>
          <%= link_to "Reset Password", new_password_reset_path %>
          <br />
          <br />
        <%= submit_tag "Sign in", :class => "button large blue radius" %>
        <br /><br />
        
      <% end %>
    </div>  
    
    <div class='large-5 large-offset-2 columns'>
      <%= form_for @user, :class => "nice" do |f| %>
        
        <h3 class='blue-color'>Sign up</h3>
          <%= f.label :email %>
          <%= f.email_field :email, :class => "input-text", required: '' %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "input-text", required:'' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "input-text", required:'' %>

        <%= f.submit "Sign me up", :class => "button large blue radius" %>
        <br /><br />
        
      <% end %>
    </div>  
  </div>  
  <a class="close-reveal-modal">&#215;</a>
<% end %>