<div class='row'>
  <div class='large-3 columns'><%= f.text_field :name, required: true %></div>
  <div class='large-3 columns'>
    <%= f.number_field :amount, value: nice_float(f.object.amount.to_f), step: 'any', min: '0.00', placeholder: "0.00", required: true %>
  </div>
  <div class='large-2 columns'>
    <%= f.text_field :due_date, placeholder: Date.today.strftime("%m/%d/%Y"), class: 'get-date', required: true %>
  </div>
  <div class='large-1 columns'><%= f.check_box :paid %></div>
  <div class='large-3 columns'><%= f.link_to_remove '×', title: 'Remove ths item', class: 'tiny alert round button' %></div>
</div>
