<div class='subnav'>
  <div class='row'>
    
      <div class="large-6 columns">
        <h3><%= dwelling.name %></h3>
        <h5 class='subheader'><%= dwelling.full_address %></h5>
      </div>
      <div class='large-6 columns' style='padding-right:0'>
        <dl class='sub-nav right'>
          <dd class='profile <%= "active-subnav" if subnav == 'profile'  %>'><%= link_to image_tag('cottage-256.png') + 'Profile', dwelling_path(dwelling.pretty_url), title: 'Profile' %></dd>
          <dd class='stories <%= "active-subnav" if subnav == 'stories'  %>'><%= link_to image_tag('book-256.png') + 'Stories', dwelling_stories_path(dwelling.pretty_url), title: 'Stories' %></dd>        
          <dd class='photos  <%= "active-subnav" if subnav == 'photos' %>'><%= link_to image_tag('camera-256.png') + 'Photos', photo_albums_path(dwelling.pretty_url), title: 'Photos' %></dd>        
        </dl>
      </div>
    
  </div>
</div>
