<% cache do %>
<style>
.join-section a {
  margin-top: 10%;
}
input[type="checkbox"] {
  margin-bottom: 0;
}
input[name="commit"] {
  width: 168px;
  margin-right: 34px
}

@media (max-width: 767px) {
  input[name="commit"] {
    margin-right: 0px;
  } 
}
</style>

<% unless request.xhr? %>
<div class='large-6 large-offset-3 columns'>
<div class='row collapse'>
  <div class='large-12 columns header-row'>
    <h3>sign in / sign up</h3>
  </div>  
  <div class="small-12 large-12 columns">
    <ul style='margin-left: 0' class="main-budget-categories">
      <li style='border-top:none' data-equalizer-watch>
<% end %>      

<div class='row'>
  <div class='large-12 columns options-section'>
    <% if request.xhr? %>
    <h2 class='text-center'>Welcome!</h2>
    <% end %>
    <a href='#' data-option='sign-in' class='option-link button expand radius'>Sign in</a>    
    <a href='#' data-option='sign-up' class='option-link button success radius expand'>Join Us</a>
  </div>

  <div class='large-12 columns sign-in-section hide'>
    <h2>Sign in</h2>
    <hr />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {data: {abide:''}}) do |f| %>
    <div class='clearfix'>
      <%= f.label :email, class: 'left' %>
      <% if devise_mapping.rememberable? -%>
        <label for='user_remember_me' class='right' style='color:#000;'><%= f.check_box :remember_me, tabindex: 3, checked: true %> remember me</label>
      <% end -%>    

      <%= f.email_field :email, required:'', tabindex: 1 %>
      <small class="error">An email address is required.</small>
    </div>

    <div class='clearfix'>    
      <%= f.label :password, class: 'left' %><small class='right'><a id="hide_password" class='hidden_password' href="javascript:void(0)" /></a></small>
      <%= f.password_field :password, required:'', tabindex: 2 %>
      <small class="error">Password is required.</small>  
    </div>

    <div>
      
      <%= f.submit "Sign in".html_safe, class: 'small button nice radius', tabindex: 4 %>      
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
    <a href='#' class='option-link' data-option='back'>Back</a>
  </div>
  <div class='large-12 columns hide join-section'>  
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>      
      <h2>Join</h2>
      <hr />                
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: {abide: ''}}) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.label :email, for: 'new_user_email' %>
          <%= f.email_field :email, required:'', id: 'new_user_email', placeholder: 'email@example.org', tabindex: 5 %>
          <small class="error">An email address is required.</small>
        </div>

        <div class='row'>
          <div class='small-6 columns'>          
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, required:'', patter: 'alpha' %>
            <small class="error">A first name is required.</small>
          </div>
          <div class='small-6 columns'>
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, required:'', patter: 'alpha' %>
            <small class="error">A last name is required.</small>
          </div>
        </div>
        
        <div class='clearfix'>    
          <%= f.label :password, for: 'new_user_password', class: 'left' %> <small class='right'><a id="hide_password" class='hidden_password' href="javascript:void(0)" /></a></small>
          <%= f.password_field :password, required:'', id: 'new_user_password', id: 'new_user_password', pattern: 'password', tabindex: 7 %>
          <small class="error">Passwords must be at least 8 characters with 1 capital letter, and 1 number.</small>
        </div>

        <div>
          <%= f.label :password_confirmation, for: 'new_user_password_confirmation' %>
          <%= f.password_field :password_confirmation, required:'', id: 'new_user_password_confirmation', data: {equalto:'new_user_password'}, tabindex: 8 %>
          <small class="error">Password confirmation must match.</small>
        </div>

        <div><%= f.submit "Sign up", class: 'small button nice radius', tabindex: 9 %></div>
      <% end %>        
    <% end -%>
    <a href='#' class='option-link' data-option='back'>Back</a>
  </div>
</div>

<% unless request.xhr? %>
      </li>
    </ul>
  </div>
</div>
</div>
<% end %>      


<script>
  $('form.new_user').foundation();
</script>
<% end %>
