<%= nested_form_for bi, html: {data: {remote: true}} do |f| %>
  <%= hidden_field_tag :budget_category_id, bi.budget_category_id %>
  <div class='row'>
    <div class="large-1 medium-1 columns centered">
      <a href='javascript:void(0)' class='show-expenses'><i class='fi-list-bullet blue-color move-cursor'></i></a>
    </div>
    <div class="large-4 medium-4 columns">
      <%= f.text_field :name, placeholder: 'Name', required:'' %>
    </div>
    <div class="large-2 medium-2 columns">
      <%= number_to_currency(bi.budget_item_expenses.sum :amount) %>
    </div>
    <div class="large-2 medium-2 columns">
      <%= f.number_field :amount_budgeted, value: nice_float(bi.amount_budgeted.to_f), step: 'any', min: '0.00', placeholder: "0.00", required:'' %>
    </div>
    <div class="large-1 medium-1 columns">
      <% if (bi.amount_budgeted || 0)-bi.budget_item_expenses.sum(:amount) > 0 %>
        <span class="success-color"><%= number_to_currency bi.amount_budgeted-bi.budget_item_expenses.sum(:amount) %></span>
      <% elsif (bi.amount_budgeted || 0)-bi.budget_item_expenses.sum(:amount) < 0 %>
        <span class="alert-color">$<%= bi.amount_budgeted-bi.budget_item_expenses.sum(:amount) %></span>
      <% else %>
        <span class="blue"><%= number_to_currency (bi.amount_budgeted || 0)-bi.budget_item_expenses.sum(:amount) %></span>
      <% end %>
    </div>
    <div class='large-2 medium-2 columns centered'>
      <%= f.submit '✓', title: 'Save', class: 'tiny success round button circle-button' %>
      <% if f.object.new_record? %>
      <%= link_to '×', '#',
                       title: 'Delete this item',
                       class: 'tiny alert round button circle-button remove-new-item' %>
      <% else %>
      <%= link_to '×', '#',
                       data: {
                        link: budget_item_path(bi),
                        name: bi.name
                       },
                       class: 'delete-budget-item tiny alert round button circle-button' %>
       <% end %>
    </div>
  </div>

  <div class="expense-list expenses_<%= bi.id %> hide">
    <%= f.fields_for :budget_item_expenses %>
    <%= f.link_to_add "Add an expense", :budget_item_expenses, class: 'tiny button radius yellow add-nested-item' %>
    <hr />
  </div>
  <ul data-dropdown-content class="f-dropdown"></ul>
<% end %>
