<!DOCTYPE html>
  <head>
    <%= render template: 'shared/head' %>
    <link rel="stylesheet" media="screen" href='<%= webpack_stylesheet_path %>'>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render template: 'shared/tracking.html' %>
    <% end %>
  </head>
  <body>
    <%= render template: 'shared/nav' %>

    <div class='flash-holder'>
      <% flash.each do |key, msg| %>
        <div class="flash-box"><%= msg %></div>
      <% end %>
    </div>

    <%= yield %>

    <%= render template: 'shared/footer' %>

    <%= javascript_include_tag "application" %>
    <script><%= yield(:ready) %></script>
    <% unless current_user %>
      <div id='signInUp' class='overlay hide'>
        <div class="page">
          <a href='#' class="close-button sign-in-close">&#215;</a>
          <%= react_component 'Sessions' %>
        </div>
      </div>
    <% end %>

    <% if ENV.fetch('hot', false) %>
      <script src='http://localhost:8080/assets/react_bundle.js'></script>
    <% end %>
  </body>
</html>
