<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="description" content="With Budgetal.com's website you can stayed smart and organized to win with money." />
    <meta name="keywords" content="budget budgets budgetal money finance success cash plan win" />
    <meta name="apple-itunes-app" content="app-id=, app-argument=Budgetal" />

    <title><%= yield(:title) %>Budgetal</title>
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <style>
      <%= yield(:styles) %>
    </style>
  </head>
  <body>    
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/" title="Budgetal"><%= image_tag "logo.png", style: 'width: 200px; margin-top: -8px;' %></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">        
            <li<%#= is_active? "about" %>><%#= link_to "About", about_path, title: "About" %></li>
            
            <li<%#= is_active? "ministries" %>><%#= link_to "Ministries", ministries_path, title: "Ministries" %></li>
            
            <li<%#= is_active? "media" %>><%#= link_to "Media", broadcast_path, title: "Media" %></li>
            
            <li<%#= is_active? "resources" %>><%#= link_to "Resources", resources_path, title: "Resources" %></li>          
            
            <li<%#= is_active? "donations" %>><%#= link_to "Give", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MZPW3QR6ECZWY", title: "Give", :target => "_blank" %></li>
            
            <li<%#= is_active? "contact" %>><%#= link_to "Contact", contact_path, title: "Contact us" %></li>            
            <% if current_user %>
              <li><%= link_to "Budgets", my_budgets_path(year: Date.today.year, month: Date.today.month), title: 'Budgets' %></li>
              <li><%= link_to "My Account [#{current_user.email}]", my_account_path, title: 'My Account' %></li>
              <%#= link_to "My Account", edit_devise_user_registration_path, title: "My account" %>
              <% if current_user.admin? %>
                <li><%= link_to "Admin Panel", admin_path, title: 'Admin' %></li>
              <% end %>                        
                <li><%= link_to "Sign Out", logout_path, title: 'logout', title: 'Logout' %><%#= link_to('Sign out', destroy_devise_user_session_path, method: :delete, title: 'Sign out') %></li>
            <% else %>
              <li><%= link_to "Sign in / Sign up", "#", data: {reveal_id: "signInUp"}, title: "Sign In" %></li>
            <% end %>
          </ul>
        </section>  
      </nav><!--#navmain.hide-for-small-->  
    </div>

    <div id="contentmain" class="row">
      <div class="large-12 columns">
        <% if flash[:notice] %>
          <br/>
          <div data-alert class="alert-box blue radius">
            <%= flash[:notice] %>
            <a href="#" class="close">&times;</a>
          </div>      
        <% end %>
        <% if flash[:error] %>
          <br/>
          <div data-alert class="alert-box alert radius">      
            <%= flash[:error] %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <script><%= yield(:ready) %></script>    
  </body>
</html>
