<!DOCTYPE html>
  <head>
    <%= render template: 'shared/head' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render template: 'shared/tracking.html' %>
    <% end %>
    <style><%= yield(:styles) %></style>
  </head>
  <body>
    <%= render template: 'shared/nav' %>

    <div class='flash-holder'>
      <% flash.each do |key, msg| %>
        <div class="flash-box"><%= msg %></div>
      <% end %>
    </div>

    <%= yield %>

    <section>
      <%= render template: 'shared/footer' %>
    </section>

    <%= javascript_include_tag "application" %>
    <script><%= yield(:ready) %></script>
    <% unless current_user %>
      <div id='signInUp' class='reveal-modal small' data-reveal>
        <%= react_component 'Sessions' %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    <% end %>

    <% if Rails.env.development? %>
      <script src='http://localhost:8080/assets/react_bundle.js'></script>
    <% end %>
  </body>
</html>
