<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />  
    <title><%= content_for?(:title) ? yield(:title) : "Intense-Money.com" %></title>
    
    <!-- Included CSS Files -->
    <%= stylesheet_link_tag    "application" %>
    
    <!-- Included JS Files  -->
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
      <% if flash[:notice] %>
        <div class='alert-box success'><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class='alert-box error'><%= flash[:error] %></div>
      <% end %>
      
      <nav class="top-bar">
        <ul>
          <!-- Title Area -->
          <li class="name">
            <h1>
              <%= link_to "Intense-Money.com", root_path, :title => "Intense-Money.com" %>
            </h1>
          </li>        
        </ul>

        <section>
          <!-- Left Nav Section -->
          <ul class="right">
            <li class="divider show-for-medium-and-up"></li>
            <li>
              <%= link_to "[help]", root_path %>
            </li>
          </ul>

          <ul class="right">
            <li class="divider show-for-medium-and-up"></li>
            <li>
              <%= link_to "[my account]", root_path %>
            </li>
          </ul>
        </section>
      </nav>
    
  <div id="contentmain" class="row">
    <div class="twelve columns">
      <%= yield %>
    </div>
  </div>

  <footer id="footermain" class="container">
  <div class="row spacing top bottom hide-for-small">
    <div class="four columns">
      <h5><%= link_to "About", about_path, :title => "About" %></h5>
      <h5><%= link_to "Contact", contact_path, :title => "Contact us" %></h5>
      <ul>
        <li>
          <ul class="vcard">
            <li>1839 Randolf<br />
              Chicago, IL 60803</li>
            <li class="tel"><a href="tel:855-555-1234">(855) 555-1234</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="four columns">      
      <h5>Subscribe</h5>
      <div id="mc_embed_signup">
        <%= form_tag "http://Intense-Money.us5.list-manage.com/subscribe/post?u=bc2a9d494fff8ae1914635487&amp;id=5481dbf0aa", :method => "post", :id => "mc-embedded-subscribe-form", :name => "mc-embedded-subscribe-form", :class => "nice", :target => "_blank" do %>
          <%= label_tag "mce-EMAIL", "Subscribe to our emails" %>
          <%= email_field_tag :email, nil, :id => "mce-EMAIL", :name => "EMAIL", :placeholder => "email@domain.com", :class => "input-text full-width" %>
          <%= submit_tag :subscribe, :id => "mc-embedded-subscribe", :name => "subscribe", :class => "button nice radius", :value => "Subscribe" %>
        <% end %>
      </div>
    </div>
    <div class="four columns">      
      <% if false %>
      <h5><%= link_to "My Account", root_path, :title => "My account" %></h5>
      <ul>
        <li><%= link_to "Edit My Account", root_path, :title => "Edit my account" %></li>
        <li><%= link_to "Sign Out", root_path, :title => "Sign out" %></li>
      </ul>
      <% end %>
      <h5>Follow Us</h5>
      <ul class="social">
        <li><%= link_to image_tag("/assets/social/facebook-16px.png") + " Become a fan on Facebook", "https://www.facebook.com/pages/Intense-Moneycom/150223185143423", :title => "Become a fan on Facebook" %></li>
        <li><%= link_to image_tag("/assets/social/twitter-16px.png") + " Follow us on Twitter", "https://www.twitter.com/intense_money", :title => "Follow us on Twitter" %></li>
        <li><%= link_to image_tag("/assets/social/google-plus-16px.png") + " Find us on Google+", "https://plus.google.com/116367545922617019542/", :title => "Find us on Google+" %></li>
      </ul>
    </div>
  </div>
  <div class="row spacing top bottom show-for-small">
    <dl>
      <dd><%= link_to "About", about_path, :title => "About" %></dd>
      <dd><%= link_to "Contact", contact_path, :title => "Contact us" %></dd>
      <% if false %>
      <dd><%= link_to "My Account", root_path, :title => "My account" %>
      <dd><%= link_to "Sign Out", root_path, :title => "Sign out" %></dd>
      <% else %>
      <dd><%= link_to "Sign In", root_path, :title => "Sign in" %></dd>
      <% end %>
    </dl>
  </div>
  <div class="row">
    <div class="twelve columns centered">
      <p id="copyright">Copyright &copy; <%= Date.today.year %> Intense-Money.com. All Rights Reserved. <%= link_to "Contact", contact_path, :title => "Contact us" %> | <%= link_to "Terms of Service", tos_path, :title => "Terms of service" %>.</p>
    </div>
  </div>
<iframe id="dl"></iframe>
</footer><!--#footermain-->
  </body>
</html>