<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="description" content="With Budgetal.com's website you can stayed smart and organized to win with money." />
    <meta name="keywords" content="budget budgets budgetal money finance success cash plan win" />
    <meta name="apple-itunes-app" content="app-id=, app-argument=Budgetal" />        
    <title><%= yield(:title) %>Budgetal</title>
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= stylesheet_link_tag "application" %>    
    <%= javascript_include_tag "vendor/modernizr" %>    
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render template: 'shared/tracking.html' %>
    <% end %>

    <style>
      <%= yield(:styles) %>
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body>    
      
      <% cache([current_user]) do %>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/" title="Budgetal"><%= image_tag "logo.png", style: 'width: 200px; margin-top: -8px;' %></a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">        
            <% if current_user %>
            <li class="has-dropdown not-click"><a href="javascript:void(0)" title='this is you!'>Hello, <%= current_user.first_name %>!</a>
              <ul class="dropdown shadow">
                <li><%= link_to "Cash Flow Plans", my_budgets_path(year: Date.today.year, month: Date.today.month), title: 'Cash Flow Plans' %></li>
                <li><%= link_to "Allocated Spending Plans", my_allocation_plans_path(year: Date.today.year, month: Date.today.month), title: 'Allocated Spending Plans' %></li>
                <li><%= link_to "Statistics (for geeks)", monthly_statistics_path, title: '(for geeks)' %></li>
                <li><%= link_to "My Account", edit_user_registration_path, title: 'My Account' %></li>
                <% if current_user.admin? %>
                <li><%= link_to "Admin Panel", admin_path, title: 'Admin' %></li>
                <% end %>                                  
              </ul>
            </li>            
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete, title: 'Sign out') %></li>
            <% else %>
            <li><%= link_to 'Sign in / Sign up', new_user_session_url, data: {reveal_id: "signInUp", reveal_ajax: true}, title: "Sign In" %></li>
            <% end %>
          </ul>
        </section>  
      </nav><!--#navmain.hide-for-small-->  
      <% end %>
    
    <% flash.each do |key, msg| %>      
      <div data-alert class="alert-box radius success" style="display: none;position: fixed; top: 70px;z-index:99999;left: -5%; width: 110%;">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  
    <%= render template: 'shared/footer' %>
    
    <%= javascript_include_tag "application" %>    
    <script><%= yield(:ready) %></script>    
    <%= sign_in_modal unless current_user %>    
  </body>
</html>
