<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= render template: 'shared/head' %>
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render template: 'shared/tracking.html' %>
    <% end %>

    <style>
      <%= yield(:styles) %>
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <%= render template: 'shared/nav' %>
    <div class='flash-holder'></div>
    <section>
      <%= yield %>
    </section>

    <div class='row'></div>

    <section>
      <%= render template: 'shared/footer' %>
    </section>

    <%= javascript_include_tag "application" %>
    <script><%= yield(:ready) %></script>
    <%= devise_reveal_modals unless current_user %>
  </body>
</html>
